#redCrystal {
    width: 100px;
    length: 100px;
}

#blueCrystal {
    width: 100px;
    length: 100px;
}

#whiteCrystal {
    width: 100px;
    length: 100px;
}

#greenCrystal {
    width: 100px;
    length: 100px;
}

